.abouts{
    background-color: #87A2FF;
    overflow-y:scroll;
    height: 100vh;
}
.card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    
}

.admin{
    padding:10px;
    margin-right:25px;
    margin-bottom: 10px;
    width: 60px;
    height:35px;
    background-color:blueviolet;
    color: azure;
    border-radius: 15px;

    position:absolute;
    bottom:0;
    right:0;
}